* {
    margin: 0;
    border: border-box;
    font-family: Arial;
}

/* box 1 */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.nav-logo {
    height: 45px;
    width: 140px;
    padding: 5px 4px 0px 10px;
}

.logo {
    background-image: url(Amazon_logo.png);
    height: 45px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* box 2 */
.navbar-adrs {
    height: 45px;
    width: 193px;
    padding: 5px 3px 0px 5px;
    margin-left: 5px;
}

.adrs-one {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 20px;
    margin-top: 4px;
}

.adrs-two {
    font-size: 0.90rem;
    margin-top: 1px;
}

.adrs-icon {
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search {
    height: 40px;
    width: 700px;
    display: flex;
    border: 3px solid transparent;
    margin-left: 10px;
}

.nav-search:hover {
    border: 3px solid orange;
    border-radius: 8px;
}

.search-select {
    justify-content: space-evenly;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    height: 40px;
    width: 45px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    background-color: #ffcc12;
    color: #0f1111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

/* box 4 */
.lang {
    display: flex;
    height: 45px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.lang-logo {
    background-image: url(Flag_of_India.png);
    height: 17px;
    width: 25px;
    background-size: cover;
}

.en {
    color: #ffffff;
    background: none;
    border: none;
    height: 17px;
    font-weight: 650;
}

/* box 5 */
.nav-signin {
    height: 45px;
    width: 130px;
    padding-top: 8px;
    padding-left: 6px;
    margin-left: 15px;
}

span {
    font-size: 0.75rem;
    color: #e9e7e7;
}

.nav-acc {
    font-size: 0.90rem;
    font-weight: 700;
    background: none;
    border: none;
    color: #ffffff;
}

/* box 6 */
.returns {
    height: 45px;
    width: 70px;
    padding-top: 8px;
    padding-left: 6px;
    margin-left: 15px;
}

.orders {
    font-size: 0.90rem;
    font-weight: 700;
}

/* box 7 */
.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.90rem;
    font-weight: 700;
    height: 43px;
    width: 80px;
    padding-top: 12px;
    padding-left: 6px;
    margin-left: 15px;
}

/* panal */
.panal {
    background-color: #222f3d;
    height: 39px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.90rem;
}

.panal-all i {
    font-size: 1.2rem;
}

.panal-all {
    font-weight: 600;
    width: 50px;
    padding: 4px 4px 4px 4px;
}

.panal-opt a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 8px;
    padding: 6px 6px 6px 6px;
    font-size: 0.90rem;
    width: 60px;
    border: 1.5px solid transparent;
}

.panal-opt a:hover {
    border: 1.5px solid #ffffff;
}

.panal-opt {
    width: 95%;
}

/* hero section */
.hero-section img {
    height: 100%;
    width: 98.5%;
    background-size: cover;
}

.hero-section {
    display: flex;
    justify-content: center;
}

/* shop box */
.shop-box {
    background-color: #f4f0ed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box1 {
    height: 420px;
    width: 22%;
    background-color: #ffffff;
    margin-top: -345px;
    padding: 20px 0px 15px;
}

.box-content {
    padding: 0px 20px 20px 20px;
}

.box-content a {
    text-decoration: none;
    font-size: 0.85rem;
}

.shop-box img {
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    cursor: pointer;
}

.box2 {
    height: 420px;
    width: 22%;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 20px 0px 15px;
}

/* signin-section */
.signin-section {
    height: 110px;
    color: #000;
    text-align: center;
    padding-top: 30px;
    border-top: 0.6px solid rgba(0, 0, 0, 0.226);
    border-bottom: 0.6px solid rgba(0, 0, 0, 0.226);
}

.signin-section p {
    font-size: 24px;
    font-weight: 700;
}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sign {
    height: 30px;
    width: 230px;
    font-size: 0.90rem;
    background-color: #ffd814;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
}
.sign:hover {
    background-color: #ffcc14;
}

.new-customer {
    font-size: 0.75rem;
}

/* footer */
footer {
    margin-top: 20px;
}

.foot-panal1 {
    background-color: #37475a;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
}
.foot-panal1:hover {
    background-color: #485769;
}

.foot-panal2 {
    height: 350px;
    background-color: #222f3d;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.foot-panal2 p {
    font-weight: 700;
}

.foot-panal2 a {
    display: block;
    margin-top: 15px;
    color: #dddddd;
    font-size: 0.90rem;
    text-decoration: none;
}
.foot-panal2 a:hover {
    text-decoration: underline;
}

/* foot panal 3 */
.foot-panal3 {
    color: #dddddd;
    height: 75px;
    background-color: #222f3d;
    border-top: 0.6px solid rgba(230, 220, 220, 0.226);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 0.85rem;
    padding-top: 25px;
}

.foot-panal3 img {
    height: 30px;
    width: 76px;
    margin-top: 10px;
}

.lang-btn {
    height: 33px;
    width: 130px;
    border: 0.3px solid #dddddd;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-left: 70px;
    cursor: pointer;
}
.lang-btn i {
    padding-left: 10px;
    padding-right: 10px;
}

.logo-btn {
    height: 33px;
    width: 90px;
    border: 0.3px solid #dddddd;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.logo-btn img {
    height: 12px;
    width: 18px;
    padding: 0px 10px 10px 10px;
}

.foot-panal4 {
    height: 76px;
    background-color: #131a22;
    color: #dddddd;
    font-size: 0.85rem;
}

.foot-options {
    height: 18px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.foot-panal4 a {
    color: #dddddd;
    text-decoration: none;
    margin-right: 20px;
}
.foot-panal4 a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 2px;
    font-size: 0.80rem;
}